:root {
  --Mov-clr-primary: #023047;
  --Mov-clr-white: #fff;
  --Mov-clr-black: #010101;
  --Mov-clr-secondary: #f86011;
  --Mov-clr-tertiary: #f9f9ff;
  --Mov-clr-hover: #f86011;
  --Mov-clr-gray: #f8f9fa;
  --Mov-clr-shadow: #edf2ff;
  --Mov-clr-shadow-two: #00000012;
  --Mob-clr-border: #d9d9d9;

  // text colors
  --Mov-clr-text-heading: #023047;
  --Mov-clr-text-body: #575757;

  // heading font size
  --Mov-font-size-h1: 64px;
  --Mov-font-size-h1-md: 44px;
  --Mov-font-size-h1-sm: 38px;

  --Mov-font-size-h2: 48px;
  --Mov-font-size-h2-md: 38px;
  --Mov-font-size-h2-sm: 28px;

  --Mov-font-size-h3: 36px;
  --Mov-font-size-h3-md: 28px;
  --Mov-font-size-h3-sm: 24px;

  --Mov-font-size-h4: 32px;
  --Mov-font-size-h4-md: 26px;
  --Mov-font-size-h4-sm: 20px;

  --Mov-font-size-h5: 22px;
  --Mov-font-size-h5-md: 18px;
  --Mov-font-size-h5-sm: 16px;

  --Mov-font-size-h6: 18px;
  --Mov-font-size-h6-md: 18px;
  --Mov-font-size-h6-sm: 16px;

  // paragraphs font size
  --Mov-font-size-p1: 20px;
  --Mov-font-size-p2: 18px;
  --Mov-font-size-p3: 16px;
  --Mov-font-size-p4: 14px;
  --Mov-font-size-p5: 12px;

  // custom font size
  --Mov-font-size-c1: 20px;
  --Mov-font-size-c2: 18px;
  --Mov-font-size-c3: 16px;
  --Mov-font-size-c4: 14px;
  --Mov-font-size-c5: 12px;
}
